---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "ms-general.name" . }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app:  {{ include "ms-general.name" . }}
      tier: backend
      track: stable
  template:
    metadata:
      labels:
        app: ms-general
        tier: backend
        track: stable
    spec:
      containers:
        - name: {{ include "ms-general.name" . }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: DBUserName
              valueFrom:
                secretKeyRef:
                  name: pgcred
                  key: DBUserName
            - name: DBPassword
              valueFrom:
                secretKeyRef:
                  name: pgcred
                  key: DBPassword
            - name: DBConnectionString
              valueFrom:
                secretKeyRef:
                  name: pgcred
                  key: DBConnectionString 
          ports:
            - name: http
              containerPort: 8080
{{ if .Values.pglocal }}            
          volumeMounts:
          - mountPath: /var/lib/pgsql/data
            name: pglocal
      volumes:
      - name: pglocal
        persistentVolumeClaim:
          claimName: pglocal-pvc     
{{ end }}