---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: pgcred
data:
  {{ $dbpass := .Values.dbpass | default "postgres" }}
  {{ $dbuser := .Values.dbuser | default "postgres" }}
  {{ $dbhost := .Values.dbhost | default "localhost" }}
  {{ $dbport := .Values.dbport | default "5432" }}
  {{ $dbname := .Values.dbname | default "postgres" }}
  DBPassword: {{ $dbpass | b64enc }}
  DBUserName: {{ $dbuser | b64enc }}
  {{ if .Values.global.postgresql.enabled }}
  DBHost:  {{ printf "ms-postgres.%s.svc.cluster.local" .Release.Namespace | b64enc  }}
  DBConnectionString: {{ printf "jdbc:postgresql://ms-postgres.%s.svc.cluster.local:%s/%s" .Release.Namespace $dbport $dbname  | b64enc }}
  {{ else }}
  DBHost: {{ $dbhost | b64enc }}
  DBConnectionString: {{ printf "jdbc:postgresql://%s:%s/%s"  $dbhost $dbport $dbname  | b64enc }}
  {{ end }}
  DBPort: {{ $dbport | b64enc }}
  DBName: {{ $dbname | b64enc }}
