<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright (c) 2021 Linux Foundation

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->

<web-app>
  <display-name>dmadminweb</display-name>
  <session-config>
     <session-timeout>1</session-timeout>
  </session-config>
  <context-param>
    <param-name>BUILD_VERSION</param-name>
    <param-value>X_BUILD_VERSION_X</param-value>
  </context-param>
  <context-param>
    <param-name>DMHOME</param-name>
        <param-value>/opt/deployhub/engine</param-value>
  </context-param>
  <context-param>
    <param-name>DBConnectionString</param-name>
    <param-value>jdbc:postgresql://localhost:5432/postgres</param-value>
  </context-param>
  <context-param>
    <param-name>DBDriverName</param-name>
    <param-value>org.postgresql.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>TrilogyPort</param-name>
    <param-value>2305</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InitServer</display-name>
    <servlet-name>InitServer</servlet-name>
    <servlet-class>dmadmin.InitServer</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitServer</servlet-name>
    <url-pattern>/InitServer</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>InitVulns</display-name>
    <servlet-name>InitVulns</servlet-name>
    <servlet-class>dmadmin.InitVulns</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitVulns</servlet-name>
    <url-pattern>/InitVulns</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SSO</display-name>
    <servlet-name>SSO</servlet-name>
    <servlet-class>dmadmin.SSO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SSO</servlet-name>
    <url-pattern>/sso</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Engine</display-name>
    <servlet-name>Engine</servlet-name>
    <servlet-class>dmadmin.Engine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Engine</servlet-name>
    <url-pattern>/Engine</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EngineEvent</display-name>
    <servlet-name>EngineEvent</servlet-name>
    <servlet-class>dmadmin.EngineEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EngineEvent</servlet-name>
    <url-pattern>/EngineEvent</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>GetCompsOnEndPoint</display-name>
    <servlet-name>GetCompsOnEndPoint</servlet-name>
    <servlet-class>dmadmin.GetCompsOnEndPoint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCompsOnEndPoint</servlet-name>
    <url-pattern>/GetCompsOnEndPoint</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetApps2Comps</display-name>
    <servlet-name>GetApps2Comps</servlet-name>
    <servlet-class>dmadmin.GetApps2Comps</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetApps2Comps</servlet-name>
    <url-pattern>/GetApps2Comps</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TableFilter</display-name>
    <servlet-name>TableFilter</servlet-name>
    <servlet-class>dmadmin.TableFilter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TableFilter</servlet-name>
    <url-pattern>/TableFilter</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>GetComps2Apps</display-name>
    <servlet-name>GetComps2Apps</servlet-name>
    <servlet-class>dmadmin.GetComps2Apps</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetComps2Apps</servlet-name>
    <url-pattern>/GetComps2Apps</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetTasks</display-name>
    <servlet-name>GetTasks</servlet-name>
    <servlet-class>dmadmin.GetTasks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTasks</servlet-name>
    <url-pattern>/GetTasks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetFullDomains</display-name>
    <servlet-name>GetFullDomains</servlet-name>
    <servlet-class>dmadmin.GetFullDomains</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFullDomains</servlet-name>
    <url-pattern>/GetFullDomains</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetEnvOwner</display-name>
    <servlet-name>GetEnvOwner</servlet-name>
    <servlet-class>dmadmin.GetEnvOwner</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEnvOwner</servlet-name>
    <url-pattern>/GetEnvOwner</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetNotifiers</display-name>
    <servlet-name>GetNotifiers</servlet-name>
    <servlet-class>dmadmin.GetNotifiers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetNotifiers</servlet-name>
    <url-pattern>/GetNotifiers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAppVersionAccess</display-name>
    <servlet-name>GetAppVersionAccess</servlet-name>
    <servlet-class>dmadmin.GetAppVersionAccess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAppVersionAccess</servlet-name>
    <url-pattern>/GetAppVersionAccess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDomainContent</display-name>
    <servlet-name>GetDomainContent</servlet-name>
    <servlet-class>dmadmin.GetDomainContent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDomainContent</servlet-name>
    <url-pattern>/GetDomainContent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubDomains</display-name>
    <servlet-name>SubDomains</servlet-name>
    <servlet-class>dmadmin.SubDomains</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubDomains</servlet-name>
    <url-pattern>/SubDomains</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllDomains</display-name>
    <servlet-name>GetAllDomains</servlet-name>
    <servlet-class>dmadmin.GetAllDomains</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllDomains</servlet-name>
    <url-pattern>/GetAllDomains</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAttributesForObject</display-name>
    <servlet-name>GetAttributesForObject</servlet-name>
    <servlet-class>dmadmin.GetAttributesForObject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAttributesForObject</servlet-name>
    <url-pattern>/GetAttributesForObject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetEnvironmentContent</display-name>
    <servlet-name>GetEnvironmentContent</servlet-name>
    <servlet-class>dmadmin.GetEnvironmentContent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEnvironmentContent</servlet-name>
    <url-pattern>/GetEnvironmentContent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetServerContent</display-name>
    <servlet-name>GetServerContent</servlet-name>
    <servlet-class>dmadmin.GetServerContent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetServerContent</servlet-name>
    <url-pattern>/GetServerContent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RenameNode</display-name>
    <servlet-name>RenameNode</servlet-name>
    <servlet-class>dmadmin.RenameNode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RenameNode</servlet-name>
    <url-pattern>/RenameNode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCalendarData</display-name>
    <servlet-name>GetCalendarData</servlet-name>
    <servlet-class>dmadmin.pro.GetCalendarData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCalendarData</servlet-name>
    <url-pattern>/GetCalendarData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEvent</display-name>
    <servlet-name>AddEvent</servlet-name>
    <servlet-class>dmadmin.pro.AddEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEvent</servlet-name>
    <url-pattern>/AddEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAvailability</display-name>
    <servlet-name>UpdateAvailability</servlet-name>
    <servlet-class>dmadmin.UpdateAvailability</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAvailability</servlet-name>
    <url-pattern>/UpdateAvailability</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetApplicationOptions</display-name>
    <servlet-name>GetApplicationOptions</servlet-name>
    <servlet-class>dmadmin.GetApplicationOptions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetApplicationOptions</servlet-name>
    <url-pattern>/GetApplicationOptions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyEvent</display-name>
    <servlet-name>ModifyEvent</servlet-name>
    <servlet-class>dmadmin.pro.ModifyEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyEvent</servlet-name>
    <url-pattern>/ModifyEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDeploymentsPerUserForEnvironment</display-name>
    <servlet-name>GetDeploymentsPerUserForEnvironment</servlet-name>
    <servlet-class>dmadmin.GetDeploymentsPerUserForEnvironment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDeploymentsPerUserForEnvironment</servlet-name>
    <url-pattern>/GetDeploymentsPerUserForEnvironment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDeploymentsPerApplicationForEnvironment</display-name>
    <servlet-name>GetDeploymentsPerApplicationForEnvironment</servlet-name>
    <servlet-class>dmadmin.GetDeploymentsPerApplicationForEnvironment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDeploymentsPerApplicationForEnvironment</servlet-name>
    <url-pattern>/GetDeploymentsPerApplicationForEnvironment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDeploymentsPerApplicationForServer</display-name>
    <servlet-name>GetDeploymentsPerApplicationForServer</servlet-name>
    <servlet-class>dmadmin.GetDeploymentsPerApplicationForServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDeploymentsPerApplicationForServer</servlet-name>
    <url-pattern>/GetDeploymentsPerApplicationForServer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetTimeToDeploy</display-name>
    <servlet-name>GetTimeToDeploy</servlet-name>
    <servlet-class>dmadmin.GetTimeToDeploy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTimeToDeploy</servlet-name>
    <url-pattern>/GetTimeToDeploy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetSuccessFailure</display-name>
    <servlet-name>GetSuccessFailure</servlet-name>
    <servlet-class>dmadmin.GetSuccessFailure</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSuccessFailure</servlet-name>
    <url-pattern>/GetSuccessFailure</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetTimePerStepForDeployment</display-name>
    <servlet-name>GetTimePerStepForDeployment</servlet-name>
    <servlet-class>dmadmin.GetTimePerStepForDeployment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTimePerStepForDeployment</servlet-name>
    <url-pattern>/GetTimePerStepForDeployment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewsFeed</display-name>
    <servlet-name>NewsFeed</servlet-name>
    <servlet-class>dmadmin.NewsFeed</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsFeed</servlet-name>
    <url-pattern>/NewsFeed</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDeploymentStepsGantt</display-name>
    <servlet-name>GetDeploymentStepsGantt</servlet-name>
    <servlet-class>dmadmin.GetDeploymentStepsGantt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDeploymentStepsGantt</servlet-name>
    <url-pattern>/GetDeploymentStepsGantt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetPropertiesData</display-name>
    <servlet-name>GetPropertiesData</servlet-name>
    <servlet-class>dmadmin.GetPropertiesData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPropertiesData</servlet-name>
    <url-pattern>/GetPropertiesData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetSummaryData</display-name>
    <servlet-name>GetSummaryData</servlet-name>
    <servlet-class>dmadmin.GetSummaryData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSummaryData</servlet-name>
    <url-pattern>/GetSummaryData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAttributeData</display-name>
    <servlet-name>GetAttributeData</servlet-name>
    <servlet-class>dmadmin.GetAttributeData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAttributeData</servlet-name>
    <url-pattern>/GetAttributeData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>dmadmin.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KeepAlive</display-name>
    <servlet-name>KeepAlive</servlet-name>
    <servlet-class>dmadmin.KeepAlive</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KeepAlive</servlet-name>
    <url-pattern>/KeepAlive</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetActionLayout</display-name>
    <servlet-name>GetActionLayout</servlet-name>
    <servlet-class>dmadmin.GetActionLayout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetActionLayout</servlet-name>
    <url-pattern>/GetActionLayout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>dmadmin.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetMenu</display-name>
    <servlet-name>GetMenu</servlet-name>
    <servlet-class>dmadmin.GetMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMenu</servlet-name>
    <url-pattern>/GetMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Profile</display-name>
    <servlet-name>Profile</servlet-name>
    <servlet-class>dmadmin.Profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/Profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetNewID</display-name>
    <servlet-name>GetNewID</servlet-name>
    <servlet-class>dmadmin.GetNewID</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetNewID</servlet-name>
    <url-pattern>/GetNewID</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RunProviderTest</display-name>
    <servlet-name>RunProviderTest</servlet-name>
    <servlet-class>dmadmin.RunProviderTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RunProviderTest</servlet-name>
    <url-pattern>/RunProviderTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActionDetails</display-name>
    <servlet-name>ActionDetails</servlet-name>
    <servlet-class>dmadmin.ActionDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActionDetails</servlet-name>
    <url-pattern>/ActionDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GroupDetails</display-name>
    <servlet-name>GroupDetails</servlet-name>
    <servlet-class>dmadmin.GroupDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupDetails</servlet-name>
    <url-pattern>/GroupDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDetails</display-name>
    <servlet-name>UserDetails</servlet-name>
    <servlet-class>dmadmin.UserDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDetails</servlet-name>
    <url-pattern>/UserDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DomainDetails</display-name>
    <servlet-name>DomainDetails</servlet-name>
    <servlet-class>dmadmin.DomainDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DomainDetails</servlet-name>
    <url-pattern>/DomainDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDeploymentLog</display-name>
    <servlet-name>GetDeploymentLog</servlet-name>
    <servlet-class>dmadmin.GetDeploymentLog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDeploymentLog</servlet-name>
    <url-pattern>/GetDeploymentLog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDeploymentFilesData</display-name>
    <servlet-name>GetDeploymentFilesData</servlet-name>
    <servlet-class>dmadmin.GetDeploymentFilesData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDeploymentFilesData</servlet-name>
    <url-pattern>/GetDeploymentFilesData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDeploymentStepDetailsData</display-name>
    <servlet-name>GetDeploymentStepDetailsData</servlet-name>
    <servlet-class>dmadmin.GetDeploymentStepDetailsData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDeploymentStepDetailsData</servlet-name>
    <url-pattern>/GetDeploymentStepDetailsData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RunTask</display-name>
    <servlet-name>RunTask</servlet-name>
    <servlet-class>dmadmin.RunTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RunTask</servlet-name>
    <url-pattern>/RunTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetComponentData</display-name>
    <servlet-name>GetComponentData</servlet-name>
    <servlet-class>dmadmin.GetComponentData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetComponentData</servlet-name>
    <url-pattern>/GetComponentData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAttrs</display-name>
    <servlet-name>UpdateAttrs</servlet-name>
    <servlet-class>dmadmin.UpdateAttrs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAttrs</servlet-name>
    <url-pattern>/UpdateAttrs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetServerLayout</display-name>
    <servlet-name>GetServerLayout</servlet-name>
    <servlet-class>dmadmin.GetServerLayout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetServerLayout</servlet-name>
    <url-pattern>/GetServerLayout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetServerList</display-name>
    <servlet-name>GetServerList</servlet-name>
    <servlet-class>dmadmin.GetServerList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetServerList</servlet-name>
    <url-pattern>/GetServerList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Highlighter</display-name>
    <servlet-name>Highlighter</servlet-name>
    <servlet-class>dmadmin.Highlighter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Highlighter</servlet-name>
    <url-pattern>/Highlighter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>API</display-name>
    <servlet-name>API</servlet-name>
    <servlet-class>dmadmin.API</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>API</servlet-name>
    <url-pattern>/API/*</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>API2</display-name>
    <servlet-name>API2</servlet-name>
    <servlet-class>dmadmin.pro.APIv2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>API2</servlet-name>
    <url-pattern>/API2/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetEnginePlugins</display-name>
    <servlet-name>GetEnginePlugins</servlet-name>
    <servlet-class>dmadmin.GetEnginePlugins</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEnginePlugins</servlet-name>
    <url-pattern>/GetEnginePlugins</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetEngineConfig</display-name>
    <servlet-name>GetEngineConfig</servlet-name>
    <servlet-class>dmadmin.GetEngineConfig</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEngineConfig</servlet-name>
    <url-pattern>/GetEngineConfig</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetEngineProviders</display-name>
    <servlet-name>GetEngineProviders</servlet-name>
    <servlet-class>dmadmin.GetEngineProviders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEngineProviders</servlet-name>
    <url-pattern>/GetEngineProviders</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetProviderDefDetailsData</display-name>
    <servlet-name>GetProviderDefDetailsData</servlet-name>
    <servlet-class>dmadmin.GetProviderDefDetailsData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProviderDefDetailsData</servlet-name>
    <url-pattern>/GetProviderDefDetailsData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAppVersionLayout</display-name>
    <servlet-name>GetAppVersionLayout</servlet-name>
    <servlet-class>dmadmin.GetAppVersionLayout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAppVersionLayout</servlet-name>
    <url-pattern>/GetAppVersionLayout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetApplicationContent</display-name>
    <servlet-name>GetApplicationContent</servlet-name>
    <servlet-class>dmadmin.GetApplicationContent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetApplicationContent</servlet-name>
    <url-pattern>/GetApplicationContent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getfragatt</display-name>
    <servlet-name>getfragatt</servlet-name>
    <servlet-class>dmadmin.getfragatt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getfragatt</servlet-name>
    <url-pattern>/getfragatt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getversummary</display-name>
    <servlet-name>getversummary</servlet-name>
    <servlet-class>dmadmin.getversummary</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getversummary</servlet-name>
    <url-pattern>/getversummary</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSummaryData</display-name>
    <servlet-name>UpdateSummaryData</servlet-name>
    <servlet-class>dmadmin.UpdateSummaryData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSummaryData</servlet-name>
    <url-pattern>/UpdateSummaryData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCategories</display-name>
    <servlet-name>GetCategories</servlet-name>
    <servlet-class>dmadmin.GetCategories</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCategories</servlet-name>
    <url-pattern>/GetCategories</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCategoryContent</display-name>
    <servlet-name>GetCategoryContent</servlet-name>
    <servlet-class>dmadmin.GetCategoryContent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCategoryContent</servlet-name>
    <url-pattern>/GetCategoryContent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetFragmentContent</display-name>
    <servlet-name>GetFragmentContent</servlet-name>
    <servlet-class>dmadmin.GetFragmentContent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFragmentContent</servlet-name>
    <url-pattern>/GetFragmentContent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCompVersionLayout</display-name>
    <servlet-name>GetCompVersionLayout</servlet-name>
    <servlet-class>dmadmin.GetCompVersionLayout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCompVersionLayout</servlet-name>
    <url-pattern>/GetCompVersionLayout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetComponentContent</display-name>
    <servlet-name>GetComponentContent</servlet-name>
    <servlet-class>dmadmin.GetComponentContent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetComponentContent</servlet-name>
    <url-pattern>/GetComponentContent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetComponentItemLayout</display-name>
    <servlet-name>GetComponentItemLayout</servlet-name>
    <servlet-class>dmadmin.GetComponentItemLayout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetComponentItemLayout</servlet-name>
    <url-pattern>/GetComponentItemLayout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getcompversum</display-name>
    <servlet-name>getcompversum</servlet-name>
    <servlet-class>dmadmin.getcompversum</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getcompversum</servlet-name>
    <url-pattern>/getcompversum</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetComponentItem</display-name>
    <servlet-name>GetComponentItem</servlet-name>
    <servlet-class>dmadmin.GetComponentItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetComponentItem</servlet-name>
    <url-pattern>/GetComponentItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetComponentLayout</display-name>
    <servlet-name>GetComponentLayout</servlet-name>
    <servlet-class>dmadmin.GetComponentLayout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetComponentLayout</servlet-name>
    <url-pattern>/GetComponentLayout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getComponentsInDomain</display-name>
    <servlet-name>getComponentsInDomain</servlet-name>
    <servlet-class>dmadmin.getComponentsInDomain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getComponentsInDomain</servlet-name>
    <url-pattern>/getComponentsInDomain</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getserversum</display-name>
    <servlet-name>getserversum</servlet-name>
    <servlet-class>dmadmin.getserversum</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getserversum</servlet-name>
    <url-pattern>/getserversum</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getTaskDetails</display-name>
    <servlet-name>getTaskDetails</servlet-name>
    <servlet-class>dmadmin.getTaskDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getTaskDetails</servlet-name>
    <url-pattern>/getTaskDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUsers</display-name>
    <servlet-name>GetUsers</servlet-name>
    <servlet-class>dmadmin.GetUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUsers</servlet-name>
    <url-pattern>/GetUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetGroups</display-name>
    <servlet-name>GetGroups</servlet-name>
    <servlet-class>dmadmin.GetGroups</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetGroups</servlet-name>
    <url-pattern>/GetGroups</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetActions</display-name>
    <servlet-name>GetActions</servlet-name>
    <servlet-class>dmadmin.GetActions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetActions</servlet-name>
    <url-pattern>/GetActions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetTransfers</display-name>
    <servlet-name>GetTransfers</servlet-name>
    <servlet-class>dmadmin.GetTransfers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTransfers</servlet-name>
    <url-pattern>/GetTransfers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetServerTypes</display-name>
    <servlet-name>GetServerTypes</servlet-name>
    <servlet-class>dmadmin.GetServerTypes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetServerTypes</servlet-name>
    <url-pattern>/GetServerTypes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAttributesData</display-name>
    <servlet-name>UpdateAttributesData</servlet-name>
    <servlet-class>dmadmin.UpdateAttributesData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAttributesData</servlet-name>
    <url-pattern>/UpdateAttributesData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePropertiesData</display-name>
    <servlet-name>UpdatePropertiesData</servlet-name>
    <servlet-class>dmadmin.UpdatePropertiesData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePropertiesData</servlet-name>
    <url-pattern>/UpdatePropertiesData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetProviderDefs</display-name>
    <servlet-name>GetProviderDefs</servlet-name>
    <servlet-class>dmadmin.GetProviderDefs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProviderDefs</servlet-name>
    <url-pattern>/GetProviderDefs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAccess</display-name>
    <servlet-name>GetAccess</servlet-name>
    <servlet-class>dmadmin.GetAccess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAccess</servlet-name>
    <url-pattern>/GetAccess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAttachment</display-name>
    <servlet-name>GetAttachment</servlet-name>
    <servlet-class>dmadmin.GetAttachment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAttachment</servlet-name>
    <url-pattern>/GetAttachment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAppVersInEnv</display-name>
    <servlet-name>GetAppVersInEnv</servlet-name>
    <servlet-class>dmadmin.GetAppVersInEnv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAppVersInEnv</servlet-name>
    <url-pattern>/GetAppVersInEnv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAppVersInEnvData</display-name>
    <servlet-name>GetAppVersInEnvData</servlet-name>
    <servlet-class>dmadmin.GetAppVersInEnvData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAppVersInEnvData</servlet-name>
    <url-pattern>/GetAppVersInEnvData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetComponentItemSourceData</display-name>
    <servlet-name>GetComponentItemSourceData</servlet-name>
    <servlet-class>dmadmin.GetComponentItemSourceData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetComponentItemSourceData</servlet-name>
    <url-pattern>/GetComponentItemSourceData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCredentials</display-name>
    <servlet-name>GetCredentials</servlet-name>
    <servlet-class>dmadmin.GetCredentials</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCredentials</servlet-name>
    <url-pattern>/GetCredentials</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveNode</display-name>
    <servlet-name>RemoveNode</servlet-name>
    <servlet-class>dmadmin.RemoveNode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveNode</servlet-name>
    <url-pattern>/RemoveNode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CopyAndPaste</display-name>
    <servlet-name>CopyAndPaste</servlet-name>
    <servlet-class>dmadmin.CopyAndPaste</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CopyAndPaste</servlet-name>
    <url-pattern>/CopyAndPaste</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getApplicationsInDomain</display-name>
    <servlet-name>getApplicationsInDomain</servlet-name>
    <servlet-class>dmadmin.getApplicationsInDomain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getApplicationsInDomain</servlet-name>
    <url-pattern>/getApplicationsInDomain</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MoveNode</display-name>
    <servlet-name>MoveNode</servlet-name>
    <servlet-class>dmadmin.MoveNode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoveNode</servlet-name>
    <url-pattern>/MoveNode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetRepoTextPatternsData</display-name>
    <servlet-name>GetRepoTextPatternsData</servlet-name>
    <servlet-class>dmadmin.GetRepoTextPatternsData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRepoTextPatternsData</servlet-name>
    <url-pattern>/GetRepoTextPatternsData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>dmadmin.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetPrerequisitiesForAppData</display-name>
    <servlet-name>GetPrerequisitiesForAppData</servlet-name>
    <servlet-class>dmadmin.GetPrerequisitiesForAppData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPrerequisitiesForAppData</servlet-name>
    <url-pattern>/GetPrerequisitiesForAppData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetActionArgsData</display-name>
    <servlet-name>GetActionArgsData</servlet-name>
    <servlet-class>dmadmin.GetActionArgsData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetActionArgsData</servlet-name>
    <url-pattern>/GetActionArgsData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetRepositories</display-name>
    <servlet-name>GetRepositories</servlet-name>
    <servlet-class>dmadmin.GetRepositories</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRepositories</servlet-name>
    <url-pattern>/GetRepositories</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetNotifierTemplates</display-name>
    <servlet-name>GetNotifierTemplates</servlet-name>
    <servlet-class>dmadmin.GetNotifierTemplates</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetNotifierTemplates</servlet-name>
    <url-pattern>/GetNotifierTemplates</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TemplateDetails</display-name>
    <servlet-name>TemplateDetails</servlet-name>
    <servlet-class>dmadmin.TemplateDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TemplateDetails</servlet-name>
    <url-pattern>/TemplateDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetNotifyRecipientList</display-name>
    <servlet-name>GetNotifyRecipientList</servlet-name>
    <servlet-class>dmadmin.GetNotifyRecipientList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetNotifyRecipientList</servlet-name>
    <url-pattern>/GetNotifyRecipientList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetTemplates</display-name>
    <servlet-name>GetTemplates</servlet-name>
    <servlet-class>dmadmin.GetTemplates</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTemplates</servlet-name>
    <url-pattern>/GetTemplates</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidateTask</display-name>
    <servlet-name>ValidateTask</servlet-name>
    <servlet-class>dmadmin.ValidateTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateTask</servlet-name>
    <url-pattern>/ValidateTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Subscribe</display-name>
    <servlet-name>Subscribe</servlet-name>
    <servlet-class>dmadmin.Subscribe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Subscribe</servlet-name>
    <url-pattern>/Subscribe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetPendingEnvData</display-name>
    <servlet-name>GetPendingEnvData</servlet-name>
    <servlet-class>dmadmin.GetPendingEnvData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPendingEnvData</servlet-name>
    <url-pattern>/GetPendingEnvData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>About</display-name>
    <servlet-name>About</servlet-name>
    <servlet-class>dmadmin.About</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>About</servlet-name>
    <url-pattern>/About</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Reports</servlet-name>
    <servlet-class>dmadmin.Reports</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reports</servlet-name>
    <url-pattern>/Reports</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReportsData</servlet-name>
    <servlet-class>dmadmin.ReportsData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportsData</servlet-name>
    <url-pattern>/ReportsData</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TestServerConnection</servlet-name>
    <servlet-class>dmadmin.TestServerConnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServerConnection</servlet-name>
    <url-pattern>/TestServerConnection</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImportProc</servlet-name>
    <servlet-class>dmadmin.ImportProc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImportProc</servlet-name>
    <url-pattern>/ImportProc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetActionContent</display-name>
    <servlet-name>GetActionContent</servlet-name>
    <servlet-class>dmadmin.GetActionContent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetActionContent</servlet-name>
    <url-pattern>/GetActionContent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDefects</display-name>
    <servlet-name>GetDefects</servlet-name>
    <servlet-class>dmadmin.pro.GetDefects</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDefects</servlet-name>
    <url-pattern>/GetDefects</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDeployDeps</display-name>
    <servlet-name>GetDeployDeps</servlet-name>
    <servlet-class>dmadmin.GetDeployDeps</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDeployDeps</servlet-name>
    <url-pattern>/GetDeployDeps</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetTimeline</display-name>
    <servlet-name>GetTimeline</servlet-name>
    <servlet-class>dmadmin.GetTimeline</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTimeline</servlet-name>
    <url-pattern>/GetTimeline</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassword</display-name>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>dmadmin.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
</web-app>
