# Default values for ms-nginx.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
replicaCount: 1
image:
  repository: quay.io/ortelius/ms-nginx
  tag: main-v10.0.451-gade3e3
  sha: sha256:f83fc316900ab6589407a96d4c5e4fab6c73f3d6f2d3d96fabdfb87395fb4284
  pullPolicy: Always
ingress:
  enum:
    alb: "OFF"
    glb: "OFF"
    k3d: "OFF"
    volumemnt: ""
    sslcert: "ON"
    ssloff: "OFF"
  type: ssloff
  alb_certificate_arn:
  alb_subnets:
