<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">

  <id>WebApp_ID</id>
  <context-param>
    <param-name>BUILD_VERSION</param-name>
    <param-value>X_BUILD_VERSION_X</param-value>
  </context-param>
  <context-param>
    <param-name>DMHOME</param-name>
    <param-value>/opt/deployhub/engine</param-value>
  </context-param>
  <context-param>
    <param-name>DBConnectionString</param-name>
    <param-value>jdbc:postgresql://localhost:5432/postgres</param-value>
  </context-param>
  <context-param>
    <param-name>DBDriverName</param-name>
    <param-value>org.postgresql.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>TrilogyPort</param-name>
    <param-value>2305</param-value>
  </context-param>
  <display-name>dmadminweb</display-name>
  <servlet>
    <description></description>
    <display-name>About</display-name>
    <servlet-class>dmadmin.About</servlet-class>
    <servlet-name>About</servlet-name>
  </servlet>
  <servlet>
    <description></description>
    <display-name>DomainDetails</display-name>
    <servlet-class>dmadmin.DomainDetails</servlet-class>
    <servlet-name>DomainDetails</servlet-name>
  </servlet>
  <servlet>
    <description></description>
    <display-name>GetAccess</display-name>
    <servlet-class>dmadmin.GetAccess</servlet-class>
    <servlet-name>GetAccess</servlet-name>
  </servlet>
  <servlet>
    <description></description>
    <display-name>GetAppVersInEnv</display-name>
    <servlet-class>dmadmin.GetAppVersInEnv</servlet-class>
    <servlet-name>GetAppVersInEnv</servlet-name>
  </servlet>
  <servlet>
    <description></description>
    <display-name>GetComponentItem</display-name>
    <servlet-class>dmadmin.GetComponentItem</servlet-class>
    <servlet-name>GetComponentItem</servlet-name>
  </servlet>
  <servlet>
    <description></description>
    <display-name>getTaskDetails</display-name>
    <servlet-class>dmadmin.getTaskDetails</servlet-class>
    <servlet-name>getTaskDetails</servlet-name>
  </servlet>
  <servlet>
    <description></description>
    <display-name>GroupDetails</display-name>
    <servlet-class>dmadmin.GroupDetails</servlet-class>
    <servlet-name>GroupDetails</servlet-name>
  </servlet>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-class>dmadmin.Home</servlet-class>
    <servlet-name>Home</servlet-name>
  </servlet>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-class>dmadmin.Login</servlet-class>
    <servlet-name>Login</servlet-name>
  </servlet>
  <servlet>
    <servlet-class>dmadmin.Reports</servlet-class>
    <servlet-name>Reports</servlet-name>
  </servlet>
  <servlet>
    <description></description>
    <display-name>RunTask</display-name>
    <servlet-class>dmadmin.RunTask</servlet-class>
    <servlet-name>RunTask</servlet-name>
  </servlet>
  <servlet-mapping>
    <servlet-name>About</servlet-name>
    <url-pattern>/About</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DomainDetails</servlet-name>
    <url-pattern>/DomainDetails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetAccess</servlet-name>
    <url-pattern>/GetAccess</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetAppVersInEnv</servlet-name>
    <url-pattern>/GetAppVersInEnv</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetComponentItem</servlet-name>
    <url-pattern>/GetComponentItem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getTaskDetails</servlet-name>
    <url-pattern>/getTaskDetails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GroupDetails</servlet-name>
    <url-pattern>/GroupDetails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Reports</servlet-name>
    <url-pattern>/Reports</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RunTask</servlet-name>
    <url-pattern>/RunTask</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>
  <version>2.5</version>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>
