@CHARSET "ISO-8859-1";

.tooltip {
	text-align: center;
	color: #2779aa;
	display: none;
	position: absolute;
	vertical-align: baseline;
}

.tooltip .tooltip-text {
	background-color: #2779aa;
	color: white;
	margin-top: -15px;
	padding: 3px;
}

.tooltip .tooltip-arrow {
	margin-bottom: -5px;
	margin-top: -5px;
	font-size: 150%;
}

.iconpicker {
	background-color: white;
	border: black solid 1px;
	padding: 1px;
	display: none;
	position: absolute;
	vertical-align: baseline;
	z-index: 100;
}

.iconpicker:after, .iconpicker:before {
	border: solid transparent;
	content: ' ';
	height: 0;
	bottom: 100%;
	position: absolute;
	width: 0;
}

.iconpicker:after {
	border-width: 9px;
	border-bottom-color: white;
	left: 16px;
}

.iconpicker:before {
	border-width: 10px;
	border-bottom-color: black;
	left: 15px;
}

.attachpicker {
	background-color: white;
	border: black solid 1px;
	padding: 4px;
	display: none;
	position: absolute;
	vertical-align: baseline;
	z-index: 100;
	line-height: 1.5em;
}

.attachpicker:after, .attachpicker:before {
	border: solid transparent;
	content: ' ';
	height: 0;
	bottom: 100%;
	position: absolute;
	width: 0;
}

.attachpicker:after {
	border-width: 9px;
	border-bottom-color: white;
	right: 16px;
}

.attachpicker:before {
	border-width: 10px;
	border-bottom-color: black;
	right: 15px;
}

.iconSelectImage {
}

.iconSelectImage-selected {
	border:blue solid 2px;
}

.progress {
	position:relative;
	width:400px;
	border:1px solid #ddd;
	padding:1px;
	border-radius:3px;
}

.progress-bar {
	background-color: #B4F5B4;
	width:0%;
	height:20px;
	border-radius: 3px;
}

.progress-percent {
	position:absolute;
	display:inline-block;
	top:3px;
	left:48%;
}
