<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright (c) 2021 Linux Foundation

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">

  <id>WebApp_ID</id>
  <context-param>
    <param-name>BUILD_VERSION</param-name>
    <param-value>X_BUILD_VERSION_X</param-value>
  </context-param>
  <context-param>
    <param-name>DMHOME</param-name>
    <param-value>/opt/deployhub/engine</param-value>
  </context-param>
  <context-param>
    <param-name>DBConnectionString</param-name>
    <param-value>jdbc:postgresql://localhost:5432/postgres</param-value>
  </context-param>
  <context-param>
    <param-name>DBDriverName</param-name>
    <param-value>org.postgresql.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>TrilogyPort</param-name>
    <param-value>2305</param-value>
  </context-param>
  <servlet>
    <servlet-name>InitServer</servlet-name>
    <servlet-class>dmadmin.InitServer</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitServer</servlet-name>
    <url-pattern>/InitServer</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>
  <version>2.5</version>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>
