<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright (c) 2021 Linux Foundation

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<web-app
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:web="http://java.sun.com/xml/ns/javaee"
    xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
    <id>WebApp_ID</id>
    <context-param>
        <param-name>BUILD_VERSION</param-name>
        <param-value>X_BUILD_VERSION_X</param-value>
    </context-param>
    <context-param>
        <param-name>DMHOME</param-name>
        <param-value>/opt/deployhub/engine</param-value>
    </context-param>
    <context-param>
        <param-name>DBConnectionString</param-name>
        <param-value>jdbc:postgresql://localhost:5432/postgres</param-value>
    </context-param>
    <context-param>
        <param-name>DBDriverName</param-name>
        <param-value>org.postgresql.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>TrilogyPort</param-name>
        <param-value>2305</param-value>
    </context-param>
    <display-name>dmadminweb</display-name>
    <servlet>
        <load-on-startup>1</load-on-startup>
        <servlet-class>dmadmin.InitServer</servlet-class>
        <servlet-name>InitServer</servlet-name>
    </servlet>
    <servlet-mapping>
        <servlet-name>InitServer</servlet-name>
        <url-pattern>/InitServer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InitVulns</servlet-name>
        <servlet-class>dmadmin.InitVulns</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>InitVulns</servlet-name>
        <url-pattern>/InitVulns</url-pattern>
    </servlet-mapping>
  <servlet>
    <display-name>SSO</display-name>
    <servlet-name>SSO</servlet-name>
    <servlet-class>dmadmin.SSO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SSO</servlet-name>
    <url-pattern>/sso</url-pattern>
  </servlet-mapping>
    <servlet>
        <servlet-class>dmadmin.ActionDetails</servlet-class>
        <servlet-name>ActionDetails</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.pro.AddEvent</servlet-class>
        <servlet-name>AddEvent</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.API</servlet-class>
        <servlet-name>API</servlet-name>
    </servlet>
    <servlet>
        <servlet-name>API2</servlet-name>
        <servlet-class>dmadmin.pro.APIv2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>API2</servlet-name>
        <url-pattern>/API2/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-class>dmadmin.ChangePassword</servlet-class>
        <servlet-name>ChangePassword</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.CopyAndPaste</servlet-class>
        <servlet-name>CopyAndPaste</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.Engine</servlet-class>
        <servlet-name>Engine</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.EngineEvent</servlet-class>
        <servlet-name>EngineEvent</servlet-name>
    </servlet>
    <servlet>
        <servlet-name>GetCompsOnEndPoint</servlet-name>
        <servlet-class>dmadmin.GetCompsOnEndPoint</servlet-class>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetActionArgsData</servlet-class>
        <servlet-name>GetActionArgsData</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetActionContent</servlet-class>
        <servlet-name>GetActionContent</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetActionLayout</servlet-class>
        <servlet-name>GetActionLayout</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetActions</servlet-class>
        <servlet-name>GetActions</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetAllDomains</servlet-class>
        <servlet-name>GetAllDomains</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetApplicationContent</servlet-class>
        <servlet-name>GetApplicationContent</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetApplicationOptions</servlet-class>
        <servlet-name>GetApplicationOptions</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.getApplicationsInDomain</servlet-class>
        <servlet-name>getApplicationsInDomain</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetApps2Comps</servlet-class>
        <servlet-name>GetApps2Comps</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetAppVersInEnvData</servlet-class>
        <servlet-name>GetAppVersInEnvData</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetAppVersionAccess</servlet-class>
        <servlet-name>GetAppVersionAccess</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetAppVersionLayout</servlet-class>
        <servlet-name>GetAppVersionLayout</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetAttachment</servlet-class>
        <servlet-name>GetAttachment</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetAttributeData</servlet-class>
        <servlet-name>GetAttributeData</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetAttributesForObject</servlet-class>
        <servlet-name>GetAttributesForObject</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.pro.GetCalendarData</servlet-class>
        <servlet-name>GetCalendarData</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetCategories</servlet-class>
        <servlet-name>GetCategories</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetCategoryContent</servlet-class>
        <servlet-name>GetCategoryContent</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetComponentContent</servlet-class>
        <servlet-name>GetComponentContent</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetComponentData</servlet-class>
        <servlet-name>GetComponentData</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetComponentItemLayout</servlet-class>
        <servlet-name>GetComponentItemLayout</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetComponentItemSourceData</servlet-class>
        <servlet-name>GetComponentItemSourceData</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetComponentLayout</servlet-class>
        <servlet-name>GetComponentLayout</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.getComponentsInDomain</servlet-class>
        <servlet-name>getComponentsInDomain</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetComps2Apps</servlet-class>
        <servlet-name>GetComps2Apps</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetCompVersionLayout</servlet-class>
        <servlet-name>GetCompVersionLayout</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.getcompversum</servlet-class>
        <servlet-name>getcompversum</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetCredentials</servlet-class>
        <servlet-name>GetCredentials</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.pro.GetDefects</servlet-class>
        <servlet-name>GetDefects</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetDeployDeps</servlet-class>
        <servlet-name>GetDeployDeps</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetDeploymentFilesData</servlet-class>
        <servlet-name>GetDeploymentFilesData</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetDeploymentLog</servlet-class>
        <servlet-name>GetDeploymentLog</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetDeploymentsPerApplicationForEnvironment</servlet-class>
        <servlet-name>GetDeploymentsPerApplicationForEnvironment</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetDeploymentsPerApplicationForServer</servlet-class>
        <servlet-name>GetDeploymentsPerApplicationForServer</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetDeploymentsPerUserForEnvironment</servlet-class>
        <servlet-name>GetDeploymentsPerUserForEnvironment</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetDeploymentStepDetailsData</servlet-class>
        <servlet-name>GetDeploymentStepDetailsData</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetDeploymentStepsGantt</servlet-class>
        <servlet-name>GetDeploymentStepsGantt</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetDomainContent</servlet-class>
        <servlet-name>GetDomainContent</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetEngineConfig</servlet-class>
        <servlet-name>GetEngineConfig</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetEnginePlugins</servlet-class>
        <servlet-name>GetEnginePlugins</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetEngineProviders</servlet-class>
        <servlet-name>GetEngineProviders</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetEnvironmentContent</servlet-class>
        <servlet-name>GetEnvironmentContent</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetEnvOwner</servlet-class>
        <servlet-name>GetEnvOwner</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.getfragatt</servlet-class>
        <servlet-name>getfragatt</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetFragmentContent</servlet-class>
        <servlet-name>GetFragmentContent</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetFullDomains</servlet-class>
        <servlet-name>GetFullDomains</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetGroups</servlet-class>
        <servlet-name>GetGroups</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetMenu</servlet-class>
        <servlet-name>GetMenu</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetNewID</servlet-class>
        <servlet-name>GetNewID</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetNotifierTemplates</servlet-class>
        <servlet-name>GetNotifierTemplates</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetNotifyRecipientList</servlet-class>
        <servlet-name>GetNotifyRecipientList</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetPendingEnvData</servlet-class>
        <servlet-name>GetPendingEnvData</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetPrerequisitiesForAppData</servlet-class>
        <servlet-name>GetPrerequisitiesForAppData</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetProjectsFromBuilder</servlet-class>
        <servlet-name>GetProjectsFromBuilder</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetPropertiesData</servlet-class>
        <servlet-name>GetPropertiesData</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetProviderDefDetailsData</servlet-class>
        <servlet-name>GetProviderDefDetailsData</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetProviderDefs</servlet-class>
        <servlet-name>GetProviderDefs</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetRepositories</servlet-class>
        <servlet-name>GetRepositories</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetRepoTextPatternsData</servlet-class>
        <servlet-name>GetRepoTextPatternsData</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetServerContent</servlet-class>
        <servlet-name>GetServerContent</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetServerLayout</servlet-class>
        <servlet-name>GetServerLayout</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetServerList</servlet-class>
        <servlet-name>GetServerList</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.getserversum</servlet-class>
        <servlet-name>getserversum</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetServerTypes</servlet-class>
        <servlet-name>GetServerTypes</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetSuccessFailure</servlet-class>
        <servlet-name>GetSuccessFailure</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetSummaryData</servlet-class>
        <servlet-name>GetSummaryData</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetTasks</servlet-class>
        <servlet-name>GetTasks</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetTemplates</servlet-class>
        <servlet-name>GetTemplates</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetTimeline</servlet-class>
        <servlet-name>GetTimeline</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetTimePerStepForDeployment</servlet-class>
        <servlet-name>GetTimePerStepForDeployment</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetTimeToDeploy</servlet-class>
        <servlet-name>GetTimeToDeploy</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetTransfers</servlet-class>
        <servlet-name>GetTransfers</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.GetUsers</servlet-class>
        <servlet-name>GetUsers</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.getversummary</servlet-class>
        <servlet-name>getversummary</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.Highlighter</servlet-class>
        <servlet-name>Highlighter</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.ImportProc</servlet-class>
        <servlet-name>ImportProc</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.KeepAlive</servlet-class>
        <servlet-name>KeepAlive</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.Logout</servlet-class>
        <servlet-name>Logout</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.pro.ModifyEvent</servlet-class>
        <servlet-name>ModifyEvent</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.MoveNode</servlet-class>
        <servlet-name>MoveNode</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.NewsFeed</servlet-class>
        <servlet-name>NewsFeed</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.Profile</servlet-class>
        <servlet-name>Profile</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.RemoveNode</servlet-class>
        <servlet-name>RemoveNode</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.RenameNode</servlet-class>
        <servlet-name>RenameNode</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.ReportsData</servlet-class>
        <servlet-name>ReportsData</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.RunProviderTest</servlet-class>
        <servlet-name>RunProviderTest</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.SubDomains</servlet-class>
        <servlet-name>SubDomains</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.Subscribe</servlet-class>
        <servlet-name>Subscribe</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.TableFilter</servlet-class>
        <servlet-name>TableFilter</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.TemplateDetails</servlet-class>
        <servlet-name>TemplateDetails</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.TestServerConnection</servlet-class>
        <servlet-name>TestServerConnection</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.UpdateAttributesData</servlet-class>
        <servlet-name>UpdateAttributesData</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.UpdateAttrs</servlet-class>
        <servlet-name>UpdateAttrs</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.pro.UpdateAvailability</servlet-class>
        <servlet-name>UpdateAvailability</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.UpdatePropertiesData</servlet-class>
        <servlet-name>UpdatePropertiesData</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.UpdateSummaryData</servlet-class>
        <servlet-name>UpdateSummaryData</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.UserDetails</servlet-class>
        <servlet-name>UserDetails</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>dmadmin.ValidateTask</servlet-class>
        <servlet-name>ValidateTask</servlet-name>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActionDetails</servlet-name>
        <url-pattern>/ActionDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEvent</servlet-name>
        <url-pattern>/AddEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>API</servlet-name>
        <url-pattern>/API/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CopyAndPaste</servlet-name>
        <url-pattern>/CopyAndPaste</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Engine</servlet-name>
        <url-pattern>/Engine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EngineEvent</servlet-name>
        <url-pattern>/EngineEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCompsOnEndPoint</servlet-name>
        <url-pattern>/GetCompsOnEndPoint</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetActionArgsData</servlet-name>
        <url-pattern>/GetActionArgsData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetActionContent</servlet-name>
        <url-pattern>/GetActionContent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetActionLayout</servlet-name>
        <url-pattern>/GetActionLayout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetActions</servlet-name>
        <url-pattern>/GetActions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllDomains</servlet-name>
        <url-pattern>/GetAllDomains</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetApplicationContent</servlet-name>
        <url-pattern>/GetApplicationContent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetApplicationOptions</servlet-name>
        <url-pattern>/GetApplicationOptions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getApplicationsInDomain</servlet-name>
        <url-pattern>/getApplicationsInDomain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetApps2Comps</servlet-name>
        <url-pattern>/GetApps2Comps</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAppVersInEnvData</servlet-name>
        <url-pattern>/GetAppVersInEnvData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAppVersionAccess</servlet-name>
        <url-pattern>/GetAppVersionAccess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAppVersionLayout</servlet-name>
        <url-pattern>/GetAppVersionLayout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAttachment</servlet-name>
        <url-pattern>/GetAttachment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAttributeData</servlet-name>
        <url-pattern>/GetAttributeData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAttributesForObject</servlet-name>
        <url-pattern>/GetAttributesForObject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCalendarData</servlet-name>
        <url-pattern>/GetCalendarData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCategories</servlet-name>
        <url-pattern>/GetCategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCategoryContent</servlet-name>
        <url-pattern>/GetCategoryContent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetComponentContent</servlet-name>
        <url-pattern>/GetComponentContent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetComponentData</servlet-name>
        <url-pattern>/GetComponentData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetComponentItemLayout</servlet-name>
        <url-pattern>/GetComponentItemLayout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetComponentItemSourceData</servlet-name>
        <url-pattern>/GetComponentItemSourceData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetComponentLayout</servlet-name>
        <url-pattern>/GetComponentLayout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getComponentsInDomain</servlet-name>
        <url-pattern>/getComponentsInDomain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <content></content>
        <servlet-name>GetComps2Apps</servlet-name>
        <url-pattern>/GetComps2Apps</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCompVersionLayout</servlet-name>
        <url-pattern>/GetCompVersionLayout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getcompversum</servlet-name>
        <url-pattern>/getcompversum</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCredentials</servlet-name>
        <url-pattern>/GetCredentials</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDefects</servlet-name>
        <url-pattern>/GetDefects</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDeployDeps</servlet-name>
        <url-pattern>/GetDeployDeps</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDeploymentFilesData</servlet-name>
        <url-pattern>/GetDeploymentFilesData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDeploymentLog</servlet-name>
        <url-pattern>/GetDeploymentLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDeploymentsPerApplicationForEnvironment</servlet-name>
        <url-pattern>/GetDeploymentsPerApplicationForEnvironment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDeploymentsPerApplicationForServer</servlet-name>
        <url-pattern>/GetDeploymentsPerApplicationForServer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDeploymentsPerUserForEnvironment</servlet-name>
        <url-pattern>/GetDeploymentsPerUserForEnvironment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDeploymentStepDetailsData</servlet-name>
        <url-pattern>/GetDeploymentStepDetailsData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDeploymentStepsGantt</servlet-name>
        <url-pattern>/GetDeploymentStepsGantt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDomainContent</servlet-name>
        <url-pattern>/GetDomainContent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetEngineConfig</servlet-name>
        <url-pattern>/GetEngineConfig</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetEnginePlugins</servlet-name>
        <url-pattern>/GetEnginePlugins</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetEngineProviders</servlet-name>
        <url-pattern>/GetEngineProviders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetEnvironmentContent</servlet-name>
        <url-pattern>/GetEnvironmentContent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetEnvOwner</servlet-name>
        <url-pattern>/GetEnvOwner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getfragatt</servlet-name>
        <url-pattern>/getfragatt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetFragmentContent</servlet-name>
        <url-pattern>/GetFragmentContent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetFullDomains</servlet-name>
        <url-pattern>/GetFullDomains</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetGroups</servlet-name>
        <url-pattern>/GetGroups</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMenu</servlet-name>
        <url-pattern>/GetMenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetNewID</servlet-name>
        <url-pattern>/GetNewID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetNotifierTemplates</servlet-name>
        <url-pattern>/GetNotifierTemplates</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetNotifyRecipientList</servlet-name>
        <url-pattern>/GetNotifyRecipientList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPendingEnvData</servlet-name>
        <url-pattern>/GetPendingEnvData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPrerequisitiesForAppData</servlet-name>
        <url-pattern>/GetPrerequisitiesForAppData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProjectsFromBuilder</servlet-name>
        <url-pattern>/GetProjectsFromBuilder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPropertiesData</servlet-name>
        <url-pattern>/GetPropertiesData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProviderDefDetailsData</servlet-name>
        <url-pattern>/GetProviderDefDetailsData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProviderDefs</servlet-name>
        <url-pattern>/GetProviderDefs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRepositories</servlet-name>
        <url-pattern>/GetRepositories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRepoTextPatternsData</servlet-name>
        <url-pattern>/GetRepoTextPatternsData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetServerContent</servlet-name>
        <url-pattern>/GetServerContent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetServerLayout</servlet-name>
        <url-pattern>/GetServerLayout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetServerList</servlet-name>
        <url-pattern>/GetServerList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getserversum</servlet-name>
        <url-pattern>/getserversum</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetServerTypes</servlet-name>
        <url-pattern>/GetServerTypes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSuccessFailure</servlet-name>
        <url-pattern>/GetSuccessFailure</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSummaryData</servlet-name>
        <url-pattern>/GetSummaryData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTasks</servlet-name>
        <url-pattern>/GetTasks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTemplates</servlet-name>
        <url-pattern>/GetTemplates</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTimeline</servlet-name>
        <url-pattern>/GetTimeline</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTimePerStepForDeployment</servlet-name>
        <url-pattern>/GetTimePerStepForDeployment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTimeToDeploy</servlet-name>
        <url-pattern>/GetTimeToDeploy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTransfers</servlet-name>
        <url-pattern>/GetTransfers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUsers</servlet-name>
        <url-pattern>/GetUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getversummary</servlet-name>
        <url-pattern>/getversummary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Highlighter</servlet-name>
        <url-pattern>/Highlighter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportProc</servlet-name>
        <url-pattern>/ImportProc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KeepAlive</servlet-name>
        <url-pattern>/KeepAlive</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-class>dmadmin.Login</servlet-class>
        <servlet-name>Login</servlet-name>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyEvent</servlet-name>
        <url-pattern>/ModifyEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MoveNode</servlet-name>
        <url-pattern>/MoveNode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsFeed</servlet-name>
        <url-pattern>/NewsFeed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveNode</servlet-name>
        <url-pattern>/RemoveNode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RenameNode</servlet-name>
        <url-pattern>/RenameNode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportsData</servlet-name>
        <url-pattern>/ReportsData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RunProviderTest</servlet-name>
        <url-pattern>/RunProviderTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubDomains</servlet-name>
        <url-pattern>/SubDomains</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Subscribe</servlet-name>
        <url-pattern>/Subscribe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <content></content>
        <servlet-name>TableFilter</servlet-name>
        <url-pattern>/TableFilter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TemplateDetails</servlet-name>
        <url-pattern>/TemplateDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestServerConnection</servlet-name>
        <url-pattern>/TestServerConnection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAttributesData</servlet-name>
        <url-pattern>/UpdateAttributesData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAttrs</servlet-name>
        <url-pattern>/UpdateAttrs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAvailability</servlet-name>
        <url-pattern>/UpdateAvailability</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePropertiesData</servlet-name>
        <url-pattern>/UpdatePropertiesData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSummaryData</servlet-name>
        <url-pattern>/UpdateSummaryData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDetails</servlet-name>
        <url-pattern>/UserDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateTask</servlet-name>
        <url-pattern>/ValidateTask</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>1</session-timeout>
    </session-config>
    <version>2.5</version>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
</web-app>
