name: Build/Push Image and Release Charts

# force build

on:
  push:
    branches:
      - main
    paths-ignore:
      - "chart/**"

jobs:
  release:
    runs-on: ubuntu-latest
    env:
      DHURL: https://console.deployhub.com
      DHUSER: ${{ secrets.DHUSER }}
      DHPASS: ${{ secrets.DHPASS }}
      REGISTRY: quay.io
    permissions: write-all
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
        with:
          token: ${{ secrets.ORTELIUS_CHART_PAT }}
          fetch-depth: 0

      - name: Set Convenience Env Vars and Tools
        id: env
        run: |
          echo "CHART_VERSION=10.0.${{ github.run_number }}" >> $GITHUB_ENV
          echo "IMAGE_VERSION=10.0.${{ github.run_number }}-g$(echo ${{ github.sha }} | cut -c 1-6)" >> $GITHUB_ENV
          echo "IMAGE_TAG=${{ github.head_ref || github.ref_name }}-v10.0.${{ github.run_number }}-g$(echo ${{ github.sha }} | cut -c 1-6)" >> $GITHUB_ENV
          curl -sSfL https://raw.githubusercontent.com/anchore/syft/main/install.sh | sh -s -- -b .
          sudo go install github.com/mikefarah/yq/v4@latest
          pip install ortelius-cli

      - name: Configure Git
        id: git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Login to Quay
        id: login
        uses: docker/login-action@343f7c4344506bcbf9b4de18042ae17996df046d # v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.QUAY_USERID }}
          password: ${{ secrets.QUAY_PASSWORD }}

      - name: UI Build and Push Docker Image
        id: build_ui
        uses: docker/build-push-action@0565240e2d4ab88bba5387d719585280857ece09 # v5
        with:
          push: true
          file: docker/DockerfileUI
          tags: ${{ env.REGISTRY }}/ortelius/ms-ui:${{ env.IMAGE_TAG }}

      - name: UI Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ env.REGISTRY }}/ortelius/ms-ui:${{ env.IMAGE_TAG }}
          format: 'sarif'
          output: 'trivy-results.sarif'

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@49abf0ba24d0b7953cb586944e918a0b92074c80 # v2
        if: always()
        with:
          category: 'ui'
          sarif_file: 'trivy-results.sarif'

      - name: UI Generate SBOM
        id: sbom_ui
        run: |
            ./syft packages ${{ env.REGISTRY }}/ortelius/ms-ui:${{ env.IMAGE_TAG }} -o cyclonedx-json > cyclonedx.json

      - name: UI Update Values and Chart
        id: chart_ui
        run: |
            yq e '.image.repository |= "${{ env.REGISTRY }}/ortelius/ms-ui"' -i chart/ms-ui/values.yaml
            yq e '.image.tag |= "${{ env.IMAGE_TAG }}"' -i chart/ms-ui/values.yaml
            yq e '.image.sha |= "${{ steps.build_ui.outputs.digest }}"' -i chart/ms-ui/values.yaml
            yq e '.version |= "${{ env.CHART_VERSION }}"' -i chart/ms-ui/Chart.yaml
            yq e '.appVersion |= "${{ env.CHART_VERSION }}"' -i chart/ms-ui/Chart.yaml
            echo "DIGEST=${{ steps.build_ui.outputs.digest }}" >> $GITHUB_ENV

      - name: UI Update Compnent
        id: updatecomp_ui
        run: |
          export COMPNAME=ms-ui
          dh envscript --envvars component.toml --envvars_sh env.sh
          source env.sh
          dh updatecomp --rsp component.toml --deppkg cyclonedx@cyclonedx.json

      - name: General Build and Push Docker Image
        id: build_gen
        uses: docker/build-push-action@0565240e2d4ab88bba5387d719585280857ece09 # v5
        with:
          push: true
          file: docker/DockerfileGeneral
          tags: ${{ env.REGISTRY }}/ortelius/ms-general:${{ env.IMAGE_TAG }}

      - name: General Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ env.REGISTRY }}/ortelius/ms-general:${{ env.IMAGE_TAG }}
          format: 'sarif'
          output: 'trivy-results.sarif'

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@49abf0ba24d0b7953cb586944e918a0b92074c80 # v2
        if: always()
        with:
          category: 'general'
          sarif_file: 'trivy-results.sarif'

      - name: General Generate SBOM
        id: sbom_gen
        run: |
            ./syft packages ${{ env.REGISTRY }}/ortelius/ms-general:${{ env.IMAGE_TAG }} -o cyclonedx-json > cyclonedx.json

      - name: General Update Values and Chart
        id: chart_gen
        run: |
            yq e '.image.repository |= "${{ env.REGISTRY }}/ortelius/ms-general"' -i chart/ms-general/values.yaml
            yq e '.image.tag |= "${{ env.IMAGE_TAG }}"' -i chart/ms-general/values.yaml
            yq e '.image.sha |= "${{ steps.build_gen.outputs.digest }}"' -i chart/ms-general/values.yaml
            yq e '.version |= "${{ env.CHART_VERSION }}"' -i chart/ms-general/Chart.yaml
            yq e '.appVersion |= "${{ env.CHART_VERSION }}"' -i chart/ms-general/Chart.yaml
            echo "DIGEST=${{ steps.build_gen.outputs.digest }}" >> $GITHUB_ENV

      - name: General Update Compnent
        id: updatecomp_gen
        run: |
          export COMPNAME=ms-general
          dh envscript --envvars component.toml --envvars_sh env.sh
          source env.sh
          dh updatecomp --rsp component.toml --deppkg cyclonedx@cyclonedx.json

      - name: Nginx Build and Push Docker Image
        id: build_nginx
        uses: docker/build-push-action@0565240e2d4ab88bba5387d719585280857ece09 # v5
        with:
          push: true
          file: docker/DockerfileNginx
          tags: ${{ env.REGISTRY }}/ortelius/ms-nginx:${{ env.IMAGE_TAG }}

      - name: NGINX Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ env.REGISTRY }}/ortelius/ms-nginx:${{ env.IMAGE_TAG }}
          format: 'sarif'
          output: 'trivy-results.sarif'

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@49abf0ba24d0b7953cb586944e918a0b92074c80 # v2
        if: always()
        with:
          category: 'nginx'
          sarif_file: 'trivy-results.sarif'

      - name: Nginx Generate SBOM
        id: sbom_nginx
        run: |
            ./syft packages ${{ env.REGISTRY }}/ortelius/ms-nginx:${{ env.IMAGE_TAG }} -o cyclonedx-json > cyclonedx.json

      - name: Nginx Update Values and Chart
        id: chart_nginx
        run: |
            yq e '.image.repository |= "${{ env.REGISTRY }}/ortelius/ms-nginx"' -i chart/ms-nginx/values.yaml
            yq e '.image.tag |= "${{ env.IMAGE_TAG }}"' -i chart/ms-nginx/values.yaml
            yq e '.image.sha |= "${{ steps.build_nginx.outputs.digest }}"' -i chart/ms-nginx/values.yaml
            yq e '.version |= "${{ env.CHART_VERSION }}"' -i chart/ms-nginx/Chart.yaml
            yq e '.appVersion |= "${{ env.CHART_VERSION }}"' -i chart/ms-nginx/Chart.yaml
            echo "DIGEST=${{ steps.build_nginx.outputs.digest }}" >> $GITHUB_ENV

      - name: Nginx Update Compnent
        id: updatecomp_nginx
        run: |
          export COMPNAME=ms-nginx
          dh envscript --envvars component.toml --envvars_sh env.sh
          source env.sh
          dh updatecomp --rsp component.toml --deppkg cyclonedx@cyclonedx.json
          rm -f env.sh cyclonedx.json syft trivy-results.sarif

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@8756aa072ef5b4a080af5dc8fef36c5d586e521d # v5.0.0
        with:
          commit_message: Update chart and values

      - name: Install Helm
        uses: azure/setup-helm@5119fcb9089d432beecbf79bb2c7915207344b78 # v3
        with:
          version: v3.10.0

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@be16258da8010256c6e82849661221415f031968 # v1.5.0
        with:
          charts_dir: chart
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

      - name: Trigger Rebuild of Main Chart
        uses: benc-uk/workflow-dispatch@798e70c97009500150087d30d9f11c5444830385 # v1
        with:
          workflow: generate-main-chart.yml
          repo: ortelius/ortelius-charts
          ref: refs/heads/main
          token: ${{ secrets.HELM_INDEXER_TOKEN }}
